<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connect Four</title>
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <!-- Header -->
    <header id="header">Connect Four</header>
    <!-- Main -->
    <main id="main" style="display: none">
      <p>Whoever scores three first wins</p>
      <!-- Match title -->
      <p id="matchTitle">Match Title</p>
      <!-- Board -->
      <div id="boardContainer">
        <table id="board"></table>
      </div>
      <!-- Winner message -->
      <div id="winnerContainer">
        <p id="winner"></p>
        <button id="resetBoardButton" style="display: none">Next round</button>
        <button id="playAgainButton" style="display: none">Play again</button>
      </div>
      <!-- Scores -->
      <div id="scoreContainer">
        <!--Player 1 name and score-->
        <div>
          <p id="playerOneName"></p>
          <span>(X)-></span>
          <span id="playerOneScore">0</span>
        </div>
        <!--Player 2 name and score-->
        <div>
          <p id="playerTwoName"></p>
          <span>(O)-></span>
          <span id="playerTwoScore">0</span>
        </div>
      </div>
      <!-- Exit button -->
      <button id="resetAllButton" style="display: none">Exit</button>
      <p id="noteMcts" style="display: none">
        <b>Note</b>:-
        <i>MCTS takes about 5 seconds to make a move, please be patient</i>😊
      </p>
    </main>
    <!-- Restart game button -->
    <button id="startGameButton">Start game</button>
    <!-- Match Options -->
    <div id="matchOptions" style="display: none">
      <button id="playerVsAStar">Player vs A*</button>
      <button id="playerVsMinimax">Player vs Minimax</button>
      <button id="playerVsMcts">Player vs MCTS</button>
      <button id="minimaxVsAStar">Minimax vs A*</button>
      <button id="aStarVsMcts">A* vs MCTS</button>
      <button id="mctsVsMinimax">MCTS vs Minimax</button>
    </div>
    <script src="/static/scripts/script.js"></script>
  </body>
</html>
